# Theoretical Problems

# 1. What are data structures, and why are they important?
  - Data structures are specialized formats for organizing, storing, and manipulating data to ensure efficient access and processing.
They are important because they allow programs to perform operations on data quickly, consume less memory, and simplify complex tasks.

# 2. Explain the difference between mutable and immutable data types with examples.
  - The difference between mutable and immutable data types lies in whether their state can be changed after they are created.
  - mutable data types:
    -  Mutable data types are those whose values or contents can be modified in place after they have been initialized.
    -  for example:
    -   Lists, Dictionaries, Sets.
  - Immutable data types:
    - Immutable data types are those whose values or contents cannot be altered after they have been created.
    - for example:
    -  Integers, Floats, Strings, Tuples.

# 3. What are the main differences between lists and tuples in Python?
  - The differences between lists and tuples are their mutability, performance characteristics, and typical use cases.
    -  List are mutable means their elements can be changed even after the list is created. We can add, remove, change the elements.
    - TUples are immutable means their elements cannot be changed once tuple is created.

# 4.  Describe how dictionaries store data.
  - Dictionary stores data in form of key and value pairs. Where keys are unique element but values can be duplicated.

# 5. Why might you use a set instead of a list in Python?
  - Using set instead of list because it contains unique unorderd elements. And ease to use operators in sets  like union, difference, intersection, symmetric difference.

# 6. What is a string in Python, and how is it different from a list?
  - A string is an immutable sequence of characters, used to represent text data. It is used by ' ' single quote, " " double quote, and their is a multiline string which is denoted by ''' ''' triple quote. Where as list is a mutable, ordered sequence of items. Lists can contain items of different data types.
     - for example:
        - numbers, strings, or even other lists.

# 7. How do tuples ensure data integrity in Python?
  - Tuples in Python ensure data integrity primarily through their immutability. This means that once a tuple is created, its elements cannot be modified, added, or removed.

# 8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that implements an associative array, also known as a dictionary or map. It stores data in key-value pairs, where each key is mapped to a specific memory location (or index in an array) using a hash function.

# 9. Can lists contain different data types in Python?
  - Yes, lists in Python can contain different data types. This is a key feature of lists, making them highly versatile for storing collections of diverse data.

# 10. Explain why strings are immutable in Python.
  - Strings are immutable in Python because their content cannot be changed after creation. This make it memory efficient.

# 11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries offer faster retrieval of specific items and more flexible data organization than lists by using unique keys to access values, which is ideal for looking up data by a known identifier, like a name or ID. While lists are best for ordered, sequential collections.

# 12. Describe a scenario where using a tuple would be preferable over a list.
  - A tuple would be preferable over a list is when representing data that should remain constant and unchanged throughout the program's execution. While a list could technically store data but the immutability of a tuple aligns better with the inherent nature of fixed data.

# 13. How do sets handle duplicate values in Python?
  - Objects in sets are inherently designed to store only unique elements. They do not allow duplicate values. When you attempt to add a duplicate value to a set, the set simply ignores the addition; it does not raise an error, nor does it store the duplicate. The element already present in the set remains, and the new, identical element is not added.

# 14. How does the “in” keyword work differently for lists and dictionaries?
  - The 'in' keyword in Python functions differently when used with lists and dictionaries due to their underlying data structures and how they store and retrieve data.
In lists When in is used with a list, it checks for the presence of a specific element within the list.
  - whereas, when 'in' is used with a dictionary, it checks for the presence of a specific key within the dictionary. It does not directly check for values.

# 15. Can you modify the elements of a tuple? Explain why or why not.
  - No, the elements of a tuple cannot be modified after the tuple has been created. This is because tuples are immutable data structures in Python. and we earlier discussed that immutablity means that we can not add, remove, or change an element once a tuple is created.

# 16. What is a nested dictionary, and give an example of its use case.
  - A nested dictionary is a dictionary where the values associated with some keys are themselves other dictionaries. This structure allows for the representation of complex data.
    - A common use case for nested dictionaries is representing data with multiple levels of detail, such as an employee database or a catalog of products.

employees = {
    "employee_id_1": {
        "name": "Alice Smith",
        "age": 30,
        "department": {
            "name": "Human Resources",
            "manager": "Bob Johnson"
        }
    },
    "employee_id_2": {
        "name": "Charlie Brown",
        "age": 25,
        "department": {
            "name": "Engineering",
            "manager": "Diana Prince"
        }
    }
}

# Accessing information:
print(employees["employee_id_1"]["name"])  # Output: Alice Smith
print(employees["employee_id_2"]["department"]["manager"]) # Output: Diana Prince

# 17. Describe the time complexity of accessing elements in a dictionary.
  - Accessing elements in a dictionary, or hash map, generally has an average time complexity of O(1), which stands for constant time. This means that, on average, the time it takes to retrieve a value using its key does not significantly increase with the size of the dictionary.

# 18. In what situations are lists preferred over dictionaries.
  - Lists are preferred over dictionaries when the order of elements matters, such as for maintaining a sequence, a stack, or a queue. Lists are also suitable for simple, sequential collections of data.

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered "unordered" because they do not guarantee a specific, predictable sequence for their elements, and instead, they are optimized for fast retrieval of values based on their associated keys, not their position. This means that data retrieval relies entirely on key-based access; you must know the key to find its value.

# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - The difference between a list and a dictionary, in terms of data retrieval, lies in their underlying organization and the method used to locate elements:
     - In lists:
       - Lists are ordered collections where elements are stored in a specific sequence.Data retrieval relies on integer-based indexing, starting from 0 for the first element.To access an element, its numerical position (index) within the list is specified.
     - In dictionary:
       - Dictionaries are unordered collections of key-value pairs, where each unique key maps to a specific value.Data retrieval relies on key-based lookup.To access a value, its associated unique key is provided.

# Practicle Questions.

# 1. Write a code to create a string with your name and print it.

In [3]:
name = "Ashish Jadiya"
type(name)

str

# 2. Write a code to find the length of the string "Hello World"?

In [4]:
str1 = "Hello World"
len(str1)

11

# 3. Write a code to slice the first 3 characters from the string "Python Programming".

In [5]:
name = "Python Programming"
name[0:3]

'Pyt'

# 4. Write a code to convert the string "hello" to uppercase.

In [6]:
name = "hello"
name.upper()

'HELLO'

# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [8]:
name = "I like apple"
name.replace("apple", "orange")

'I like orange'

# 6. Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
l1 = [1, 2, 3, 4, 5]
l1

[1, 2, 3, 4, 5]

# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [11]:
num_list = [1, 2, 3, 4]
num_list.append(10)
num_list

[1, 2, 3, 4, 10]

# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [12]:
num_list = [1, 2, 3, 4, 5]
num_list.remove(3)
num_list

[1, 2, 4, 5]

# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [13]:
num_list = ["a", "b", "c", "d"]
num_list[1]

'b'

# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [14]:
num_list = [10, 20, 30, 40, 50]
num_list.reverse()
num_list

[50, 40, 30, 20, 10]

# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [15]:
tup = (100, 200, 300)
type(tup)

tuple

# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [16]:
tup = ("Red", "Green", "Blue", "Yellow")
tup[1:4]

('Green', 'Blue', 'Yellow')

# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [17]:
tup = (10, 20, 5, 15)
min_value = min(tup)
min_value

5

# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [18]:
tup = ("dog", "cat", "rabbit")
tup.index("cat")

1

# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [19]:
fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [21]:
num = "a", "b", "c"
s = set(num)
s
type(s)

set

# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [22]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [23]:
s = {1, 2, 3, 4}
s.remove(4)
s

{1, 2, 3}

# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [24]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
my_set = s1|s2
my_set

{1, 2, 3, 4, 5}

# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [25]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
my_set = s1&s2
my_set

{2, 3}

# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [27]:
my_dict = { "name": "Ashish", "age": 27 , "city": "Bhopal" }
type(my_dict)

dict

# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [30]:
my_dict =  {'name': 'John', 'age': 25}
my_dict["Country"] = "USA"
my_dict

{'name': 'John', 'age': 25, 'Country': 'USA'}

# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [31]:
my_dict = {'name': 'Alice', 'age': 30}
my_dict["name"]

'Alice'

# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [32]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop("age")
my_dict

{'name': 'Bob', 'city': 'New York'}

# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [33]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

if "city" in my_dict:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [34]:
my_list = [1, 2, 3, 4, 5]

my_tuple = ("apple", "banana", "cherry")

my_dict = {"name": "Alice", "age": 25, "city": "Paris"}

print(my_dict)
print(my_list)
print(my_tuple)

{'name': 'Alice', 'age': 25, 'city': 'Paris'}
[1, 2, 3, 4, 5]
('apple', 'banana', 'cherry')

# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [35]:
my_list = [1, 34, 45, 86, 98]
my_list.sort()
my_list

[1, 34, 45, 86, 98]

# 28.  Write a code to create a list with strings and print the element at the third index.

In [36]:
my_list = ["apple", "banana", "cherry", "mango", "orange"]
my_list[3]

'mango'

# 29.  Write a code to combine two dictionaries into one and print the result.

In [37]:
dict1 = {"name": "Ashish", "Age": 27}
dict2 = {"State": "Madhya pradesh", "City": "Bhopal"}
my_dict = dict1|dict2
my_dict

{'name': 'Ashish', 'Age': 27, 'State': 'Madhya pradesh', 'City': 'Bhopal'}

# 30.  Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["Apple", "Banana", "Papaya", "Strawberry", "Cherry"]
my_set = set(my_list)

my_set